# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files

*.iml
out
gen
#/src/bean/DBConnection.java
out
.idea

/src/bean/DBConnection.java
